@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
	background: radial-gradient(100% 193.91% at 0% 0%, rgba(213, 41, 175, 0.69) 9.15%, rgba(117, 77, 215, 0.502674) 87.14%, rgba(87, 15, 240, 0.67) 100%);
	mix-blend-mode: normal;
	height: 100vh;
	padding: 1rem;
}

.navbar {
	display: grid;
	width: 100%;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	font-family: 'Poppins', sans-serif;
}

.links ul{
	list-style-type: none;
	display: flex;
	align-items: center;
	font-size: 1.7rem;
	justify-content: space-evenly;
}


